Automated Lead Intelligence: Enrich Sheets Data with Clearbit & Sync to CRMs.json
{
  "updatedAt": "2025-09-12T02:03:10.000Z",
  "createdAt": "2025-09-05T05:23:02.661Z",
  "id": "9KRdh9YURctQ9kIo",
  "name": "Automated Lead Intelligence: Enrich Sheets Data with Clearbit & Sync to CRMs",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "functionCode": "// Extract domain from email address\nconst items = $input.all();\n\nreturn items.map(item => {\n  const email = item.json['Email'] || '';\n  let domain = '';\n  \n  if (email && email.includes('@')) {\n    domain = email.split('@')[1].toLowerCase();\n  }\n  \n  return {\n    json: {\n      ...item.json,\n      'Domain': domain\n    }\n  };\n});"
      },
      "id": "b5f6b0d6-369f-4c5f-b118-94a29839f8a9",
      "name": "Extract Domain from Email",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -704,
        -80
      ]
    },
    {
      "parameters": {
        "url": "=https://logo.clearbit.com/{{ $json['Domain'] }}",
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 5
            }
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "069a4d85-19c3-46b9-b759-4c8e5d9974c8",
      "name": "Get Company Logo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -432,
        -192
      ]
    },
    {
      "parameters": {
        "url": "=https://autocomplete.clearbit.com/v1/companies/suggest?query={{ $json['Domain'] }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "a729bd15-33db-441c-bc2f-a82c074587d3",
      "name": "Clearbit Company Enrichment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -432,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "// Production Merge Enrichment Function\nconst triggerData = $('Extract Domain from Email').first().json;\nconst logoData = $('Get Company Logo').first().json;\nconst clearbitData = $('Clearbit Company Enrichment').first().json;\n\n// Extract logo URL (priority: direct logo API > clearbit logo > fallback)\nlet logoUrl = '';\nif (logoData && logoData.url) {\n  logoUrl = logoData.url;\n} else if (clearbitData && clearbitData.logo) {\n  logoUrl = clearbitData.logo;\n} else {\n  logoUrl = `https://logo.clearbit.com/${triggerData.Domain}`;\n}\n\n// Use enriched company name from Clearbit if available\nlet enrichedCompanyName = triggerData['Company Name'] || '';\nif (clearbitData && clearbitData.name) {\n  enrichedCompanyName = clearbitData.name;\n}\n\n// Determine industry from enriched company name\nlet enrichedIndustry = 'General Business';\nconst companyNameLower = enrichedCompanyName.toLowerCase();\nif (companyNameLower.includes('tech') || companyNameLower.includes('web services') || companyNameLower.includes('software')) {\n  enrichedIndustry = 'Technology';\n} else if (companyNameLower.includes('engineer') || companyNameLower.includes('engineering')) {\n  enrichedIndustry = 'Engineering Services';\n} else if (companyNameLower.includes('philosophy')) {\n  enrichedIndustry = 'Consulting Services';\n}\n\n// Generate brand colors based on industry\nlet brandColors = '#000000';\nswitch(enrichedIndustry) {\n  case 'Technology':\n    brandColors = '#0066CC';\n    break;\n  case 'Engineering Services':\n    brandColors = '#FF6B35';\n    break;\n  case 'Consulting Services':\n    brandColors = '#8A2BE2';\n    break;\n  default:\n    brandColors = '#' + Math.floor(Math.random()*16777215).toString(16).padStart(6, '0');\n}\n\nreturn [{\n  json: {\n    'Lead Name': triggerData['Contact Person'] || '',\n    'Email': triggerData['Email'] || '',\n    'Company': enrichedCompanyName,\n    'Enriched Industry': enrichedIndustry,\n    'Logo URL': logoUrl,\n    'Brand Colors': brandColors,\n    'Assigned Rep': triggerData['Assigness'] || '',\n    'Notes': `Lead enriched on ${new Date().toISOString().split('T')[0]}. Enhanced company: ${enrichedCompanyName}. Domain: ${clearbitData?.domain || triggerData.Domain}. Industry: ${enrichedIndustry}.`,\n    'Original Status': triggerData['Status'] || '',\n    'Meeting Date': triggerData['Meeting Date'] || '',\n    'Domain Verified': clearbitData?.domain || triggerData.Domain,\n    'Enrichment Source': 'Clearbit API'\n  }\n}];"
      },
      "id": "6c4ef611-64ba-4913-a103-422ebd5d4aa7",
      "name": "Merge Enrichment Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        64,
        -80
      ],
      "retryOnFail": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1t48jAkJ0XxK2xVMUWvL71vP5feN_ZDC21W6Pu7nK_Ng",
          "mode": "list",
          "cachedResultName": "Lead Profile Enrichment",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1t48jAkJ0XxK2xVMUWvL71vP5feN_ZDC21W6Pu7nK_Ng/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1t48jAkJ0XxK2xVMUWvL71vP5feN_ZDC21W6Pu7nK_Ng/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "name": "={{ $json.name }}",
            "url": "={{ $json.url }}",
            "property_name": "={{ $json.property_name }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_name",
              "displayName": "property_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "86cac053-0ae2-406f-ba48-ce2f92d90460",
      "name": "Append to Enriched Leads Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        592,
        -240
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ptC5XVqswYJ3rH2d",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "team": "9014872066",
        "space": "90143686913",
        "folderless": true,
        "list": "901411343468",
        "name": "={{ $json['Lead Name'] }}",
        "additionalFields": {
          "assignees": [
            224432632
          ],
          "content": "={{ $json.Notes }}",
          "dueDate": "={{ $json['Meeting Date'] }}"
        }
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        352,
        32
      ],
      "id": "d9652af1-de37-4084-b206-a06b2434e023",
      "name": "Create a task",
      "credentials": {
        "clickUpApi": {
          "id": "kahuAqa6VKsSxhn1",
          "name": "ClickUp account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "booking-status-check",
              "leftValue": "={{ $json['Booking Status'] }}",
              "rightValue": "BOOKED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "hours-elapsed-check",
              "leftValue": "={{ Math.floor((new Date() - new Date($json.initialReplyDate)) / (1000 * 60 * 60)) }}",
              "rightValue": 24,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "19015249-6fcb-497e-8326-2635dbd72067",
      "name": "Check If Unbooked",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -976,
        -80
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1440,
        -80
      ],
      "id": "bace46f7-0b1d-457b-9756-fb160f46a8d0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "265802b9-1fa0-806f-a52a-e6d71d9ff2e0",
          "mode": "list",
          "cachedResultName": "test db",
          "cachedResultUrl": "https://www.notion.so/265802b91fa0806fa52ae6d71d9ff2e0"
        },
        "title": "={{ $json.Company }}",
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $json['Lead Name'] }}"
            },
            {
              "textContent": "={{ $json.Email }}"
            },
            {
              "textContent": "={{ $json['Enriched Industry'] }}"
            },
            {
              "textContent": "={{ $json['Logo URL'] }}"
            },
            {
              "textContent": "={{ $json['Brand Colors'] }}"
            },
            {
              "textContent": "={{ $json['Assigned Rep'] }}"
            },
            {
              "textContent": "={{ $json.Notes }}"
            },
            {
              "textContent": "={{ $json['Meeting Date'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        336,
        -240
      ],
      "id": "37248473-7f25-49f5-be69-87f71f8f89aa",
      "name": "Create a database page",
      "credentials": {
        "notionApi": {
          "id": "iDjtgSTYG9ECVBtT",
          "name": "Notion account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "When clicking ‘Execute workflow’ (Manual Trigger)\n\nStarts the workflow manually when you run it in n8n."
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1520,
        -288
      ],
      "typeVersion": 1,
      "id": "6a52ff0b-fbbf-4c71-8a15-1cc469216c1b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Get row(s) in sheet1 (Google Sheets)\n\nPulls lead data from your sample leads sheet (sample_leads_50).",
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1248,
        112
      ],
      "typeVersion": 1,
      "id": "c0c3334c-a316-4d62-a9df-d8a497fb5a55",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Check If Unbooked (IF Node)\n\nChecks two conditions:\n\nIf booking status = BOOKED.\n\nOR if more than 24 hours passed since initial reply.\n\nIf either is true → continues to enrichment.",
        "height": 224,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1040,
        -336
      ],
      "typeVersion": 1,
      "id": "89b26487-67da-4723-9912-4b5f5e52850b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "Extract Domain from Email (Function Node)\n\nExtracts the domain name from the lead’s email address.\n\n",
        "height": 128,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -768,
        112
      ],
      "typeVersion": 1,
      "id": "a36e6320-2834-4fe9-83df-c5083a1453a7",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "Get Company Logo (HTTP Request to Clearbit Logo API)\n\nFetches the company’s logo from Clearbit using the domain.",
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -512,
        -432
      ],
      "typeVersion": 1,
      "id": "27b872b7-6892-4c6c-bf88-a03f972ca96a",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "Clearbit Company Enrichment (HTTP Request)\n\nQueries Clearbit’s company suggest API using the domain.\n\nReturns company name, logo, and other metadata.",
        "height": 176,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        176
      ],
      "typeVersion": 1,
      "id": "33b11579-8056-47f2-a6b7-c8b0b96395ba",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "Merge (Merge Node,)\n\nWas meant to combine logo + enrichment data.\n",
        "height": 112,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -224,
        -240
      ],
      "typeVersion": 1,
      "id": "0f8134d0-9797-4e2d-bb31-9f698b1748e0",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "Merge Enrichment Data (Function Node)\n\nCentral enrichment logic:\n\nMerges lead info + Clearbit data.\n\nPicks logo URL (priority: logo API > Clearbit > fallback).\n\nDetermines industry (Technology, Engineering, Consulting, or default).\n\nAssigns brand colors based on industry.\n\nGenerates Notes (audit trail).\n\nFinal enriched JSON includes Lead Name, Email, Company, Industry, Logo, Brand Colors, Assigned Rep, Notes, Status, Meeting Date, Verified Domain.",
        "height": 496
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        80
      ],
      "typeVersion": 1,
      "id": "739019a3-ef09-44d4-8d58-3aa1ed8ba4a1",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "Create a database page (Notion)\n\nCreates a Notion page in your database (test db).\n\nStores enriched lead details (name, email, company, industry, logo, colors, notes, etc.).",
        "height": 208,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        304,
        -464
      ],
      "typeVersion": 1,
      "id": "8cc172f4-530f-4355-9480-9a01365f6c2d",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "Create a task (ClickUp)\n\nCreates a ClickUp task for the lead.\n\nAssigns it to a rep.\n\nAdds notes and due date (from meeting date).",
        "height": 192,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        336,
        208
      ],
      "typeVersion": 1,
      "id": "09544996-9c73-4695-8214-9e213a4cf299",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "Append to Enriched Leads Sheet (Google Sheets)\n\nAppends the enriched lead data into a separate Google Sheet (Lead Profile Enrichment).\n\nActs as a backup or master log.",
        "height": 176,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        832,
        -272
      ],
      "typeVersion": 1,
      "id": "999336a9-ae3a-480c-8b48-568d2782f894",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "17rcNd_ZpUQLm0uWEVbD-NY6GyFUkrD4BglvawlyBygM",
          "mode": "list",
          "cachedResultName": "sample_leads_50",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17rcNd_ZpUQLm0uWEVbD-NY6GyFUkrD4BglvawlyBygM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 540316831,
          "mode": "list",
          "cachedResultName": "sample_leads_50",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17rcNd_ZpUQLm0uWEVbD-NY6GyFUkrD4BglvawlyBygM/edit#gid=540316831"
        },
        "options": {}
      },
      "id": "8557aea3-35f2-4664-85c8-fac0248c1173",
      "name": "Getting leads data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1200,
        -80
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "s4dP1fNuVZ2gWvs3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -192,
        -80
      ],
      "id": "5a802822-cdde-401f-82a3-522e3ca98a76",
      "name": "Combining data"
    }
  ],
  "connections": {
    "Extract Domain from Email": {
      "main": [
        [
          {
            "node": "Get Company Logo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Clearbit Company Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Company Logo": {
      "main": [
        [
          {
            "node": "Combining data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clearbit Company Enrichment": {
      "main": [
        [
          {
            "node": "Combining data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Enrichment Data": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Enriched Leads Sheet": {
      "main": [
        []
      ]
    },
    "Check If Unbooked": {
      "main": [
        [
          {
            "node": "Extract Domain from Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Getting leads data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a database page": {
      "main": [
        [
          {
            "node": "Append to Enriched Leads Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Getting leads data": {
      "main": [
        [
          {
            "node": "Check If Unbooked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combining data": {
      "main": [
        [
          {
            "node": "Merge Enrichment Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d1a4a810-4ac2-4cfe-982f-16d1f3e9ace0",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-09-05T05:23:02.664Z",
      "createdAt": "2025-09-05T05:23:02.664Z",
      "role": "workflow:owner",
      "workflowId": "9KRdh9YURctQ9kIo",
      "projectId": "iXigq15mRQoAAIrt"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2025-09-05T05:36:01.501Z",
      "createdAt": "2025-09-05T05:36:01.501Z",
      "id": "VT2auW6qa9EXhGrO",
      "name": "sales"
    },
    {
      "updatedAt": "2025-09-05T05:36:01.542Z",
      "createdAt": "2025-09-05T05:36:01.542Z",
      "id": "3LcAgx74tbyro0Qm",
      "name": "lead-enrichment"
    }
  ]
}